body {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header-info {
    font-size: 16px;
    font-weight: 700;
}

.right-links {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    gap: 8px;
}

div {
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

img {
    max-width: 250px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: space-between;
    gap: 24px;
}

.content-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.content-description .short-info {
    font-size: 24px;
    font-weight: 700;
}

.content-description .long-info {
    min-width: 300px;
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}
