body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    font-size: 16px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-right-links {
    display: flex;
    flex-direction: row;
}

.header ul {
    list-style: none;
    gap: 8px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.content img {
    max-width: 250px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: space-between;
    gap: 24px;
}

.content-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.content-description .short-info {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.content-description .long-info {
    min-width: 300px;
    color: #E5E7EB;
}

.content-description button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.information-title {
    font-size: 16px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 24px;
}

.information-container {
    display: flex;
    gap: 50px;
}

.set {
    max-width: 150px;
    display: flex;
    flex-direction: column;
}

.set-info {
    text-align: center;
}

.quote-body {
    padding: 50px;
    background-color: #E5E7EB;
}

.quote {
    margin: 0;
}

.quote-container {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: 600;
}

.ad-body {
    padding: 50px;
}

.ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 34px;
    border: none;
    border-radius: 8px;
}

.ad-title {
    font-size: 16px;
    font-weight: 700;
    color: #F9FAF8;   
}

.ad-description {
    font-size: 12px;
    color: #E5E7EB;
}

.ad button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 6px;
    margin-right: 24px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.footer {
    background-color: #1F2937;
    padding: 24px;
}

.footer-text {
    text-align: center;
    color: #E5E7EB;
}